@mixin forinputs ($color) {
    border: 1px solid $color;
    border-radius: 5px;
    outline: none;
    padding: 3px 7px;
}

@mixin forBtns ($color) {
    background-color: $color;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-left: 5px;
    font-weight: 500;
}


.toDoListAll{

    .toDoListHeader{
        label{
            color: green;
            font-weight: bold;
            margin-left: 15px;
        }

        input{
            @include forinputs(green);
        }

        #btnAdd{
            @include forBtns(green)
        }
    }
    

    .forSearch,
    .forSalary
    {
        input{
            @include forinputs(chocolate);
        }
        button{
            @include forBtns(chocolate);
            border-radius: 5px;
        }
    }

    .toDoList{        
        .toDoListTable{
            margin: 0 auto; 
            thead{
                tr{
                    th{
                        padding: 30px 25px 0;
                        font-size: 15px;
                        color: crimson;
                    }
                }
            }
            tbody{
                
                tr{
                    td{
                        padding: 5px 25px;
                        font-size: 20px;
                        input{
                            border: none;
                            outline: none;
                        }  
                                             
                    }
                    &:last-child{
                        padding-bottom: 30px;
                    } 
                                       
                }
            }
        }
    }
}